#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.red {
  color: rgba(146, 42, 4, 0.71);
}

.black {
  color: black;
}

.yellow {
  font-style: italic;
  color: rgba(165, 165, 39, 0.889);
}


.green {
  color: rgba(0, 99, 0, 0.782);
}

.warning {
  color: rgba(157, 42, 0, 0.741);
  font-size: 12px;
  margin-top: -20px;
  font-weight: 500;
  font-style: italic;
}



.warning>span {
  /* display: block; */
  text-align: left;
}

.grey {
  color: gray;
  font-size: 20px;
}